name: CI checks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Update toolchain
        run: rustup install stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2

      - name: Format (cargo fmt)
        run: cargo fmt --verbose --all -- --check

      - name: Build (cargo build)
        run: cargo build --verbose

      - name: Lint (cargo clippy)
        run: cargo clippy --verbose --all-features -- -D warnings

      # Lint tests seperately, since `--tests` ignores any `cfg(not(test))` code, and "unused"s can slip by
      - name: Lint tests (cargo clippy)
        run: cargo clippy --verbose --all-features --tests -- -D warnings

      - name: Run tests (cargo test)
        run: cargo test --verbose
