name: CI checks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Update toolchain
        run: rustup install stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: Format (cargo fmt)
        run: cargo fmt --verbose --all -- --check

      - name: Build (cargo build)
        run: cargo build --verbose

      - name: Lint (cargo clippy)
        run: cargo clippy --verbose --all-features -- -D warnings

      # Lint tests seperately, since `--tests` ignores any `cfg(not(test))` code, and "unused"s can slip by
      - name: Lint tests (cargo clippy)
        run: cargo clippy --verbose --all-features --tests -- -D warnings

      - name: Run tests (cargo test)
        run: cargo test --verbose
